.dfsectionbg {
  background-image: url("../img/changes-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 40px 0; }
  @media only screen and (min-width: 992px) {
    .dfsectionbg {
      padding: 80px 0; } }

.dfchanges_theme_rose {
  max-width: 840px;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  padding: 30px 15px 45px 15px; }
  @media only screen and (min-width: 992px) {
    .dfchanges_theme_rose {
      padding: 40px 45px 45px 55px; } }

.dfchanges__caption {
  color: #2b3135;
  font-family: FiraSansCondensed;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 12px; }

.dfchanges__txt {
  font-family: "LatoRegular";
  color: #7a7a7a;
  line-height: 28px;
  font-size: 15px;
  font-weight: 400; }

/*======reality====*/
.dfsectionrealitybg {
  background-image: url("../img/mean-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 50px 0 30px 0; }
  @media only screen and (min-width: 992px) {
    .dfsectionrealitybg {
      padding: 110px 0 80px 0; } }

.dfcontainer {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .dfcontainer {
      text-align: left; } }

.h2_theme_rosa {
  font-family: 'Fira Sans Condensed';
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase; }
  @media only screen and (min-width: 992px) {
    .h2_theme_rosa {
      font-size: 36px; } }

.h2_dark {
  color: #2b3135; }

.dfreality__caption {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 30px; }
  @media only screen and (min-width: 992px) {
    .dfreality__caption {
      margin-right: 39px;
      margin-bottom: 0;
      text-align: right; } }

.dfreality__textbox {
  color: #616161;
  font-family: "LatoRegular";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  max-width: 365px;
  width: 100%;
  vertical-align: top; }

.dfreality__height {
  display: block;
  height: 10px; }

.dfreality__textbox_theme_margin {
  margin-bottom: 30px; }
  @media only screen and (min-width: 992px) {
    .dfreality__textbox_theme_margin {
      margin-right: 22px;
      margin-bottom: 0; } }
