
/* header-top
========================*/
.header-top{
	width: 100%;
	background:url(../img/header_bg.jpg) no-repeat top center;
	background-size:cover;
	padding: 100px 0px;
}
@media only screen and (min-width : 992px) {
	.header-top{
		padding: 179px 0px;
	}
}
.header-top__title{
	text-align: center;
}
@media only screen and (min-width : 992px) {
	.header-top__title{
		text-align: left;
	}
}
.header-top__title_view{
	font-size: 37px;
	color:#fff;
	font-family: 'Fira Sans Condensed';
	font-weight: 700;
}
@media only screen and (min-width : 768px) {
	.header-top__title_view{
		font-size: 46px;
	}
}
.padding{
	padding-left: 0 !important;
	padding-right: 2px !important;
}
.header-top__title_view_p{
	padding-top: 6px;
	font-weight: 300;
	font-style: italic;
	line-height: 46px;
	padding-bottom: 44px;
}
.no-padding{
	padding: 0 !important;
}
.header-top__img{
	text-align: center;
	margin-top: 50px;
	// padding-left: 35px;
}
@media only screen and (min-width : 992px) {
	.header-top__img{
		text-align: left;
		margin-top: -14px;
		padding-left: 20px;
	}
}
.header-top__title_el{
	font-family: "LatoRegular";
	opacity: 0.5;
	color: white;
	font-size: 15px;
	font-weight: 400;
	padding-left: 27px;
	display: block;
}
@media only screen and (min-width : 992px) {
	.header-top__title_el{
		display: inline-block;
	}
}
.el__2{
	text-decoration: underline;
	font-weight: 500;
	opacity: 1;
}

.ul_theme_rosa{
	list-style: none;
	font-family:"LatoRegular";
	font-size: 15px;
	padding-top: 48px;
}
.ul_theme_rosa__li{
	background: url(../img/bullet.png) no-repeat left top;
	padding-left: 49px;
	margin-bottom: 27px;
	color: #7a7a7a;
}
@media only screen and (min-width : 1248px) {
	.ul_theme_rosa__li{
		min-height: 32px;
	}
}
.ul_theme_rosa__li_last{
	padding-top: 7px;
	padding-bottom: 7px;
	b{
		color: #2b3135;
	}
}
.ul_wrap{
	max-width: 860px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.h2_theme_rosa{
	text-align: center;
	font-family: 'Fira Sans Condensed';
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
}
.h2_dark{
	color: #2B3135;
}
.h2_white{
	color:#fff;
}
.wrap{
	background:grey;
}
.ol_wrap{
	max-width: 768px;
	margin: 0 auto;
}
.ol_wrap{
	padding-top: 88px;
	padding-bottom: 90px;
}
.ol_wrap__title{
	padding-bottom: 48px;
}
.another-wrap{
	background:#F2F2F2;
	margin-bottom: 85px;
}
.another{
	margin-bottom: 82px;
}
.another_box__right{
	padding-left: 10px;
	padding-bottom: 7px;
}
.another_box__title{
	padding-top: 90px;
	padding-bottom: 30px;
}

@media only screen and (min-width : 992px) {
	.another_box__right{
		padding-left: 50px;
		padding-bottom: 7px;
	}

}
@media only screen and (min-width : 1248px) {
	.another-wrap{
		background:url(../img/bgg.jpg) no-repeat top center;
		background-size:cover;

	}
	.another{
		width: 776px;
		float: right;
	}
}

/* Pop up
===============================*/
#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000; width: 100%; height: 100%;  display:none; }

.window{ 
	display: none;
	position:absolute;
	left:0;  
	top:0;
	display:none;
	z-index:9998; 
	border:none;
	.form-wrap-main{
		border:2px solid grey;
		background: #333537;
		border-radius:10px;
        // padding: 36px;
        padding: 20px;
    }
    .dd-close{
    	color:red;
    	position:absolute;
    	top:8px;
    	right: 13px;
    	cursor: pointer;
    	transition: 0.5s;
    	border-radius:10px;
    	z-index: 9999;
    }
    .dd-close:hover{
    	color:orange;
    }
}
@media only screen and (min-width : 480px) {
	.window{ 
		.form-wrap-main{
			padding: 36px;
		}
	}
}










@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

