.autonomous { padding: 100px 0; }
.autonomous .autonomous__row_descr { padding: 0 0 30px; border-bottom: 1px solid #ebebeb; }
.autonomous .autonomous__row_text { padding: 50px 0 0; }
.autonomous__text { padding-bottom: 8px; font-size: 15px; color: #7a7a7a; }
.autonomous__text_strong { font-family: "LatoSemibold"; color: #2b3135; }
.autonomous__q-descr { display: block; font-family: "LatoSemiboldItalic"; text-align: right; font-size: 15px; color: #949494; }
.autonomous__img-wrap { width: 100%; overflow: hidden; margin-bottom: 10px; }
.autonomous__img { width: 100%; height: auto; display: block; }
.autonomous__link { color: #fd5c44; font-size: 15px; text-decoration: underline; display: inline-block; }
