.ol_theme_rosa{
	list-style-type: none;
	font-family:"LatoRegular";
	font-size: 15px;
}
.ol_color{
	color: #7a7a7a;
}
.ol_theme_rosa__li{
	height: 50px;
	padding-left: 78px;
	padding-top: 8px;
	margin-bottom: 10px;
}
.ol_theme_rosa__li_1{
	background:url(../../img/p1.png) no-repeat top left;
}
.ol_theme_rosa__li_2{
	background:url(../../img/p2.png) no-repeat top left;
}
.ol_theme_rosa__li_3{
	background:url(../../img/p3.png) no-repeat top left;
}
.ol_theme_rosa__li_4{
	background:url(../../img/p4.png) no-repeat top left;
}
.ol_theme_rosa__li_5{
	background:url(../../img/p5.png) no-repeat top left;
	padding-top: 16px;
}