.h2_theme_rosa{
	font-family: 'Fira Sans Condensed';
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
}
.h2_dark{
	color: #2b3135;
}
.h2_white{
	color:#fff;
}
.wrap{
	background:grey;
}