
.input_theme_rosa {
  display: inline-block;
  line-height: 24px;
  min-width: 240px;  
}

.input__control{
	font-family: "LatoItalic";
	opacity: 0.4; 
	color: #fff;
	font-size: 15px;
	font-style: italic;
	border: none;
	background: transparent;
	padding: 10px 10px;
	outline: none; 
	width: 100%;
	border-bottom: 1px solid #717273;
	&::-webkit-input-placeholder {color:#fff;}
	&::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
	&:-moz-placeholder           {color:#fff;}/* Firefox 18- */
	&:-ms-input-placeholder      {color:#fff;}
}
